<!-- BEGIN footer -->
<div id="footer" class="clearfix footer" role="contentinfo">
  <!-- Fat footer start -->
  <div class="container">
    <div id="footer-content" class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-3">
        <h3>More about us</h3>
        <p>We investigate and support emerging technologies for IT at Stanford</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-push-3">
        <h3>Related Links</h3>
        <ul>
          <li><i class="fa fa-wordpress"></i> <a href="https://itarch.stanford.edu/">Emerging Technology Blog</a></li>
          <li><i class="fa fa-users"></i> <a href="https://shibboleth.stanford.edu/">Stanford SAML Information</a></li>
          <li><i class="fa fa-user"></i> <a href="https://idp.itlab.stanford.edu/">Test IdP</a></li>
          <li><i class="fa fa-building"></i> <a href="https://uit.stanford.edu/">Stanford UIT</a></li>
        </ul>
      </div>
      <div id="social-icons" class="col-xs-12 col-sm-3 col-sm-pull-9">
        <h3>Connect with us</h3>
        <a rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss-square fa-3x"></i></a>
        <a href="https://twitter.com/su_emergingtech" title="@su_emergingtech" alt="twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/su-et" title="su-et" alt="github"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="https://git.itlab.stanford.edu/et/" title="et" alt="Emerging Technology GitLab"><i class="fa fa-git-square fa-3x"></i></a>
      </div>
    </div>
  </div>
  <!-- Fat footer end -->

  <!-- Global footer snippet start -->
  <div id="global-footer">
    <div class="container">
      <div class="row">
        <div id="bottom-logo" class="col-xs-6 col-sm-2"> <a href="http://www.stanford.edu"> <img src="{{ "assets/lagunita/images/footer-stanford-logo@2x.png" | prepend: site.baseurl }}" alt="Stanford University" width="105" height="49"/> </a> </div>
        <!-- #bottom-logo end -->
        <div id="bottom-text" class="col-xs-6 col-sm-10">
          <ul>
            <li class="home"><a href="http://www.stanford.edu">SU Home</a></li>
            <li class="maps alt"><a href="http://visit.stanford.edu/plan/maps.html" class="su-link" data-ua-action="visit.stanford.edu/plan/maps" data-ua-label="global-footer">Maps &amp; Directions</a></li>
            <li class="search-stanford"><a href="http://stanford.edu/search/">Search Stanford</a></li>
            <li class="terms alt"><a href="http://www.stanford.edu/site/terms.html">Terms of Use</a></li>
            <li class="emergency-info"><a href="http://emergency.stanford.edu/" class="su-link" data-ua-label="global-footer">Emergency Info</a></li>
          </ul>
        </div>
        <!-- .bottom-text end -->
        <div class="clear"></div>
        <p class="copyright vcard col-sm-10">&copy; <span class="fn org">Stanford University</span>.&nbsp; <span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>. <span id="termsofuse"><a href="http://www.stanford.edu/group/security/dmca.html" class="su-link" data-ua-action="copyright-complaints" data-ua-label="global-footer">Copyright Complaints</a>&nbsp;&nbsp;&nbsp;<a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" class="su-link" data-ua-action="trademark-notice" data-ua-label="global-footer">Trademark Notice</a></span></p>
      </div>
      <!-- .row end -->
    </div>
    <!-- .container end -->
  </div>
  <!-- Global footer snippet end -->
</div>

